<footer class="page-footer font-small pt-4 mt-4">
    <hr class="featurette-divider">
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-6 col-lg-6 col-xl-6 mx-auto mt-6">
        <h6 class="text-uppercase mb-4 font-weight-bold">GPRADARS</h6>
       <p>Jestesmy przedsiębiorstwem geodezyjnym korzystającym z najnowszych rozwiązań branżowych dla zapewnienia precyzji 
       i sprawności wykonywanych usług. Rozległa wiedza praktyczna naszych pracowników umożliwia wykorzystanie najnowszych 
       technik w różnorodnych zadaniach geodezyjnych i kartograficznych. Połączenie doświadczenia w profesji ze stosowaniem 
       zaawansowanych technologii zapewniło nam dynamiczny rozwój. Dzięki niemu możemy trwale wypełniać nasz cel, jakim 
       jest ciągłe podnoszenie jakości usług i skracanie czasu ich realizacji. </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Przydatne linki</h6>
        <!-- <p><a href="/georadar/about">O nas</a></p> -->
        <p><a href="/georadar/offer">Oferta</a></p>
        <p><a href="/georadar/eq">Sprzet</a></p>
        <p><a href="/georadar/news">Aktualności</a></p>
        <p><a href="/georadar/contact">Kontakt</a></p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Kontakt</h6>
        <p><i class="fa fa-home mr-3"></i> Gdansk, Rakoczego 31</p>
        <p><i class="fa fa-envelope mr-3"></i> info@gpradars.com</p>
        <p><i class="fa fa-phone mr-3"></i> + 48 58 741 59 71</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr>

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-8 col-lg-8">

        <!--Copyright-->
        <!-- <p class="text-center text-md-left"><a href="mailto:pichael@int.pl"><strong> Pichael</strong></a></p> -->

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <ul class="list-unstyled list-inline">
            <li class="list-inline-item"><a href="facebook.com" class="btn-floating btn-sm rgba-white-slight mx-1"><i class="fab fa-facebook-square"></i></a></li>
          </ul>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>