<% include ../partials/header.ejs %>
<hr class="featurette-divider mb-4">
<div class="container">
 <header class="mb-2 pb-2 ">
<h2 class="text-dark text-center">Informacje o sprzęcie jaki posiadamy.</h2>
<p class="text-center">Aktualnie posiadamy sprzęt firmy Leica, ale ciągle staramy się poszerzać naszą ofertę.</p>
</header>
<hr>
<section id="equipment">
    <article class="row">
        
            <div class="eqdesc col-md-7">
                <h4>
                    Leica DS200
                </h4>
                <p>Leica DS 2000 jest nowoczesnym cyfrowym lokalizatorem infrastruktury podziemnej opartej na technologi radarowej, pozwalającej okreslić polożenie oraz głebokość kabli, rur zarówno metalowych jak i nie metalowych ( PVC, plastik, cement) Georadar DS 2000 dzieki zastosowaniu nowoczesnej, duczęstotliwościowej anteny ( 250-700 MHz) wykrywa głęboko ( 250MHz) i płytko (700MHz) położone obiekty, juz  podczas jednego skanowania oszczędzając czas i koszty.</p>
                <p>Zasada działania georadaru polega na generowaniu fali elektromagnetycznej i wysyłaniu jej w badany ośrodek gruntowy, skalny bądź materiałowy. Wykonywane jest to poprzez antenę nadawczą generującą sygnał o konkretnej częstotliwości. Fala przechodzi przez ośrodek i ulega załamaniu, odbiciu na występujących w ośrodku granicach,natomiast napotykając na obiekty, infrastrukturę lub inne niejednorodności ulega rozproszeniu, zwanym dyfrakcją. Obie anteny podłączone są do jednostki centralnej, która zarządza generowaniem fali i jej odbitą rejestracją cyfrową. Wzbudzenie georadaru następuje poprzez urządzenie miernicze zamontowane na kółkach, nitkach mierniczych. Podczas poruszania się wzdłuż profilu zapisywane są kolejne sygnały, które zestawione ze sobą tworzą głębokościowy przekrój georadarowy, zwany radarogramem</p>
            </div>
            <div class="eqimg col-md-5"><img class="img-fluid" src="../../images/eq/ds2000.jpg" alt="Leica DS2000"></div>
    </article>
    <hr>
    <article class="row">
        <div class="eqimg col-md-5"><img class="img-fluid" src="../../images/eq/ultra.png" alt="Leica Ultra"></div>
        <div class="eqdesc col-md-7">
                <h4 class="text-right">
                    Leica Ultra
                </h4>
                <h6>Konfiguracja urządzenia do pracy w trudnych warunkach </h6>
                <p>Wykrywacz Leica ULTRA może zostać skonfigurowany do pracy w różnych warunkach. Tryby oprogramowania umożliwiają dostosowanie anten do warunków pracy, zapewniając większą dokładność i powtarzalność śledzenia. Korzystając z ponad 100 dostępnych programowalnych częstotliwości roboczych, operator może dostosować urządzenie do konkretnych warunków pracy.</p>
                <h6>Pomiar zakłóceń z otoczenia (AIM) </h6>
                <p>Leica ULTRA został wyposażony w zaawansowany system do wykrywania zakłóceń pochodzących z otoczenia (AIM), który analizuje zewnętrzne sygnały pod kątem szumu i rekomenduje najlepsze częstotliwości do dokładnego wykrywania instalacji podziemnych. Ta funkcja sprawdza się podczas pracy w środowiskach o dużym zagęszczeniu instalacji podziemnych.</p>
                <h6>Pomiary offsetowe</h6> 
                <p>Zawsze może się zdarzyć, że instalacja podziemna będzie przebiegać zbyt blisko, lub pod przeszkodą terenową. Dzięki opcji pomiarów offsetowych, wykrywacz Leica ULTRA może wyśledzić przewód, gdy nie znajduje się bezpośrednio nad nim. Funkcja wykorzystuje dostępne dane do oszacowania poziomej i pionowej (głębokość) odległości.
                <h6>Zdalna łączność miedzy wykrywaczem i generatorem</h6>
                <p>Zaawansowana łączność pomiędzy wykrywaczem Leica ULTRA i generatorem sygnału, umożliwia sterowanie jego pracą bezpośrednio z wykrywacza. Pracuj mądrzej i na większych odległościach, aby osiągnąć jak najlepsze wyniki w krótszym czasie, eliminując potrzebę chodzenia do generatora sygnału celem zmiany jego ustawień.</p>
                <h6>Czytelny ekran</h6>
                <p>Wykrywacz Leica ULTRA został wyposażony w czytelny ekran graficzny LCD, z funkcją automatycznego wyświetlania strzałek kierunkowych. Duży, podświetlany wyświetlacz zapewnia pewne i szybkie śledzenie we wszystkich warunkach środowiskowych, zarówno w dzień jak i w nocy. Dzięki integracji z urządzeniami do pozyskiwania danych GNSS lub GIS, Leica ULTRA to instrument do jednoosobowej obsługi, umożliwiający wykrywanie podziemnych przewodów i pomiary ich położenia.  Leica ULTRA dostarcza najlepsze w swojej klasie wyniki śledzenia i lokalizacji instalacji podziemnych</p>
            </div>
    </article>
</section>
</div>


<% include ../partials/footer.ejs %>