<% include ../partials/header.ejs %>

<div id="georadar">
<h1><strong>GEORADARY - nasza pasja!</strong></h1>
<h4>Połączeni w wiedzy żeby sprostać wyzwaniom.</h4>
</div>


<div id="content" class="container-fluid">
    <hr class="featurette-divider">
        <div class="col-lg-11 mx-auto my-1 row bg-light">
            <div class="col-md-7" style="margin: auto;">

                <p>Ciągłe zmiany środowiska i rosnąca populacja powodują konieczność budowy nowych budynków i renowacji istniejących. W związku z szybkim rozwojem, <strong>infrastruktura podziemna</strong>, a szczególnie media muszą być utrzymywane lub naprawianie w sposób ciągły. Głównym wyzwaniem dla zarządców jest szczegółowa wiedza co i gdzie znajduje się pod ziemią. Bez tego nikt nie jest w stanie szybko zareagować na powstałą awarię. Dodatkowo niedokładne mapy infrastruktury podziemnej mogą doprowadzić do wielu niebezpiecznych szkód – np. łyżka koparki może trafić w rurę z gazem, która według mapy biegnie kawałek dalej. Dokładane wykrywanie przebiegu instalacji podziemnych wymaga zastosowania bardzo precyzyjnych przyrządów pomiarowych, które dokładnie pokazują jej przebieg, a dodatkowo działają nieinwazyjnie. </p>
                <p>To właśnie dla dokładnego i precyzyjnego wykrywania infrastruktury podziemnej została opracowana w Wielkiej Brytanii metodologia PAS 128. Ta metoda wykrywania została zatwierdzona przez The Survey Association w Wielkiej Brytanii, według której istnieje szczęść poziomów detekcji. Każdy z nich wymaga zastosowania odpowiednich lokalizatorów, a jakość wykrywania wzrasta wraz z każdym kolejnym poziomem.</p>
            </div>
            <div class="col-md-5 text-center">
                <img class="img-fluid mx-auto" src="../../images/index1.jpg" alt="Georadary">
            </div>
        </div>

</div>

<% include ../partials/footer.ejs %>