<% include ../partials/header.ejs %>
<hr class="featurette-divider mb-4">
<div class="container">
        <header class="mb-2 pb-2 ">
                <h2 class="text-dark text-center">Aktualności</h2>
                <p class="text-center">od ponad 4 latach działamy także naukowo.</p>
        </header>
    <hr>
    <div class="card text-center">
            <h5 class="card-header">Wykorzystanie georadaru w monitoringu osiadania nasypów przeciążeniowych</h5>    
        <div class="card-body">
            <img src="../../images/art1.jpg" alt="Georadar" class="card-img-top">
           
            <p class="card-body text-left">Obsługa geodezyjna budowy drogi obejmuje szereg etapów – od planowania jej przebiegu po monitoring geodezyjny stanu drogi w trakcie użytkowania. Na każdym z etapów budowy wykorzystywane są rozwiązania geodezyjne z użyciem standardowych narzędzi i technik geodezyjnych. Rozwijający się przemysł elektroniczny i osiąganie coraz większej precyzji poprzez różnego rodzaju urządzenia daje możliwość wykorzystania ich w pracach geodezyjnych jako narzędzi pomiarowych, a informacje dostarczone z pomiaru tymi urządzeniami mogą być traktowane jako informacje wspomagające. Jednym z takich urządzeń jest georadar, a jego wykorzystanie może rozpocząć się już na etapie planowania przebiegu drogi. Pomiar georadarem umożliwia pozyskanie danych o podłożu oraz ukrytych w nim elementów nie wykazanych na mapach, takich jak: skały, głazy, niewybuchy, podziemne cieki wodne, nieużywana infrastruktura techniczna itp. Dane georadarowe mogą także posłużyć do oceny stanu podłoża lub poszczególnych warstw podbudowy drogi. W artykule zaprezentowano wykorzystanie georadaru w procesie monitoringu osiadania fragmentu nasypu przeciążeniowego, w trakcie budowy obwodnicy południowej miasta Gdańska. Celem przeprowadzonych badań było zbadanie możliwości wykorzystania wyników takich pomiarów jako innowację w pomiarach drogowych. Otrzymane wyniki skonfrontowano z wynikami monitoringu przeprowadzonego metodami klasycznymi przez firmę Geopartner Sp. z o.o. s. k. z Gdańska.</p>
        </div>
        <a href="http://yadda.icm.edu.pl/yadda/element/bwmeta1.element.baztech-a1b9bda7-b649-45bd-b9c8-f1f75a0e0581" class="class-footer">
            Artykuł w Przeglądzie Geodezyjnym - 2014 | R. 86, nr 2 | 3--8
        </a>
    </div>
</div>

<% include ../partials/footer.ejs %>