<% include ../partials/header.ejs %>
<hr class="featurette-divider mb-4">
<div class="container">
        <header class="mb-2 pb-2 ">
                <h2 class="text-dark text-center"><%=translation.works%></h2>
                <p class="text-center"><%=translation.worksText%></p>
        </header>
    <hr>
    <div class="card text-center">
            <h5 class="card-header"><%=translation.article1Title%></h5>    
        <div class="card-body">
            <img src="../../images/art1.jpg" alt="Georadar" class="card-img-top">
           
            <p class="card-body text-left"><%=translation.article1%></p>
        </div>
        <a href="http://yadda.icm.edu.pl/yadda/element/bwmeta1.element.baztech-a1b9bda7-b649-45bd-b9c8-f1f75a0e0581" class="class-footer">
            Artykuł w Przeglądzie Geodezyjnym - 2014 | R. 86, nr 2 | 3--8
        </a>
    </div>
</div>

<% include ../partials/footer.ejs %>