<% include ../partials/header.ejs %>
<hr class="featurette-divider mb-4">
<div class="container">
    <header class="mb-2 pb-2 ">
        <h2 class="text-dark text-center">Oferta naszej firmy</h2>
        <p>Fale elektromagnetyczne wysyłane z anteny nadawczej, kiedy dostają się do rury, kabli ( nie ma znaczenia czy dane kable są pod napięciem czy nie) one odbijać się od niego i dostaja się do odbiornika. W ten sposób, nasz komputer-oprogramowanie tworzy obrazy.</p>
        <p> To nie jest łatwe do określenia, co dokładnie znajduje się pod naszym badanym obiektem. Komputer może nam pokazać ruch liniowy i na tej podstawie określić wszytskie parametry obiektu.</p>
        <p>Sczególowe zadania wykonywane georadarem przedstawione są poniżej:</p>
    </header>
        <hr>
    <div class="card-group">
            <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center">Wykrywanie instalacji</h4>
                            <ul>
                                    <li>Mapowanie podziemnych sieci komunalnych (zarówno plastikowych /PE-HDPE-PVC/, jak metalowych, żelbetowych itp.)</li>
                                    <li>Profilowanie warstw wodoszczelnych</li>
                                    <li>Planowanie i utrzymywanie sieci kablowych i rurociągowych</li>
                            </ul>
                    </div>
                </div>
        <div class="card bg-light mb-3" >
                <div class="card-body">
                    <h4 class="card-title text-center">Archeologia</h4>
                    <ul>
                            <li>Wykrywanie niewybuchów i niewypałów</li>
                            <li>Mapowanie krypt, sarkofagów, grobowców, miejsc pochówków </li>
                            <li>Ogólne wsparcie prac archeologicznych</li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="card-group">
        <div class="card bg-light mb-3" >
            <div class="card-body">
                <h4 class="card-title text-center">Zastosowania Inżynierskie</h4>
                <ul>
                        <li>Badanie struktur mostów, wiaduktów, stropów i murów</li>
                        <li>Diagnostyka nawierzchni i podłoża: drogi, autostrady, linie kolejowe (dla celów rewitalizacji, modernizacji czy też studium linii kolejowych), pasy startowe i postojowe lotniska</li>
                        <li>Rozpoznanie podłoża gruntowego dla projektowanej i istniejącej infrastruktury komunikacyjnej jak drogi, autostrady, obwodnice,</li>
                </ul>
            </div>
        </div>
        <div class="card text-white bg-secondary mb-3">
                <div class="card-body">
                    <h4 class="card-title text-center">Górnictwo</h4>
                    <ul>
                            <li>Lokalizacja obiektów takich jak pustki pogórnicze i krasowe, tunele, płytkie wyrobiska górnicze: szyby, szybiki, chodniki i innych rodzajów struktur podziemnych (kanały, kolektory, zbiorniki, betonowe płyty i kolumny, fundamenty, pale itp.)</li>
                            <li>Wykrywanie zapadlisk i osiadań</li>
                            <li>Analiza położenia zwierciadła wód gruntowych</li>
                    </ul>
                </div>
            </div>
    </div>
    <div class="card-group">
            <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h4 class="card-title text-center">Geologia</h4>
                        <ul>
                                <li>Płytkie analizy litologiczne i stratygraficzne</li>
                                <li>Klasyfikacja podłoża, rozwarstwienia i segmentacja pokładów</li>
                                <li>Badanie terenów przemysłowych i skażonych</li>
                        </ul>
                    </div>
                </div>
                <div class="card bg-light mb-3">
                        <div class="card-body">
                            <h4 class="card-title text-center">Kolejnictwo</h4>
                            <ul>
                                    <li>Ocena rozmieszczenia warstw podkładowych np. żwiru</li>
                                    <li>Rozpoznanie budowy oraz stanu podtorza kolejowego i jego podłoża</li>
                                    <li>Planowanie i utrzymywanie sieci kablowych i rurociągowych</li>
                            </ul>
                        </div>
                    </div>
    </div>
</div>

<% include ../partials/footer.ejs %>
