<!DOCTYPE html>
<html>
    <head>
        <title>GPRADAR - Georadary w Polsce!</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/landing.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" type="text/javascript" async></script>
        <script>
          setTimeout(function () {
             // after 2 seconds
             window.location = "/georadar";
          }, 15000)
        </script>
    </head>
    <body>
    
   
    <div id="landing-header">
         <h1><%=translation.lanMain%></h1>
         <h4><%=translation.lanText%></h4>
		<a href="/georadar" class="btn btn-lg btn-success"><%=translation.enter%></a>
    </div>
    
    <ul class="slideshow">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>

